.side-bar
  .side-bar__user
    %p.side-bar__user__name
      =current_user.name
    .side-bar__user__icon
      =link_to new_group_path do 
        =fa_icon "edit", class: "side-bar__user__icon__edit"
      =link_to edit_user_path(current_user) do
        =fa_icon "cog", class: "side-bar__user__icon__cog"
    =render partial: "messages/group"

.chat
  %a{:class => "chat__edit-button", href: "edit"}
    Edit
  %p.chat__group
    =@group.name
  %p.chat__member
    group member
  .chat__messages
    =render @messages
  .chat__messages__bottom

  .chat__send
    .chat__send__input-box
      =form_for [@group, @message], html: {id: "new_message"} do |f|
        = f.text_field :content, class: 'chat__send__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat__send__input-box__photo' do
          = fa_icon 'picture-o', class: 'chat__send__input-box__photo__icon'
          = f.file_field :image, class: 'chat__send__input-box__photo__choose'
        = f.submit 'Send', class: 'chat__send__input-box__send-button'