= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message

  %input{name: "utf8", type: "hidden", value: "✓"}/
  %input{name: "authenticity_token", type: "hidden", value: "AxFKlYEhD6eqX1PiZoTYQDANtKvgcFSXZQXHt5hyTl55/U/CHC5rtPavrcu2za65riz4tekZEy56vP6kEb2wYA=="}/
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_name"} グループ名
    .chat-group-form__field--right
      = f.text_field :name, id: 'chat_group_name.chat-group-form__input', placeholder: 'グループ名を入力してください'
        
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバーを追加"}
        チャットメンバーを追加
    .chat-group-form__field--right
      %input{class: 'chat-group-form__input', id: 'user-search-field', placeholder: '追加したいユーザー名を入力してください', type: 'text'}
      .chat-group-form__field--right__not-member

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバー"}
        チャットメンバー
    .chat-group-form__field--right

  .chat-group-user.clearfix{id: "chat-group-user-${current_user.id}"}
    .chat-group-user__name.clearfix
      - if @users.present?
        %input{name: 'group[user_ids][]', type: "hidden", value: current_user.id}
        - @users.each do |user|
          = current_user.name
          %li= user.name
        .user-search-remove 
        .chat-group-user__btn
          .chat-group-user__btn.chat-group-user__btn--remove
          削除
      - if @users.present? == false
        %input{name: 'group[user_ids][]', type: "hidden", value: current_user.id}
        = current_user.name
        .user-search-remove
        .chat-group-user__btn
          .chat-group-user__btn.chat-group-user__btn--remove
          削除

    .chat-group-form__field--right__member

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      -# %input.chat-group-form__action-btn{"data-disable-with":"Save", name: "commit", type: "submit", value: "Save", id: "group_update"}/
      = f.submit 'Send', class: 'chat-group-form__action-btn', "data-disable-with":"Save", name: "commit",id: "group_update"
